<%-include('../partials/header')-%> 
<div class="col-12 mt-5">
    <div class="container p-3 w-50">
        <h1 class="text-center mt-5 mb-3">Create Alert</h1>
        <%-include('../partials/messages')-%>
       
    </div>
</div>
<%-include('../partials/footer')-%> 