<%-include('../partials/header')-%> 
<style>
    .blogsave{
        width: 100%;
    }
    input[type=text], input[type=email]{
      border: 1px solid #0f3042 !important;
      border-radius: 5px !important;
      background: transparent !important;
      padding: 0px 7px !important;
    }
    input[type=text]:focus, input[type=email]:focus{
      border: 1px solid #78ae61 !important;
      -webkit-box-shadow: 0 1px 0 0 #78ae61 !important;
      box-shadow: 0 1px 0 0 #78ae61 !important;
    }
    .form-group .form-control{
        width: 97% !important;
    }
    .eleve_form, .ecole_form{
        display: none;
        margin-top: 1rem;
    }
    .usertype_selector h3{
        text-align: center;
    }
    .usertype_selector{
        border: 1px #4169a3 solid;
        color: black;
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 15px;
    }
    .usertype_selector.active{
        border: 1px #4169a3 solid;
        color: white;
        background-color: #4169a3;
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 15px;
    }
    .usertype_selector:hover{
        border: 1px #4169a3 solid;
        color: white;
        background-color: #4169a3;
        -webkit-transition: background-color 400ms linear;
        -ms-transition: background-color 400ms linear;
        transition: background-color 400ms linear;
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 15px;
        cursor: pointer;
    }
    .divselectorentoure{
        padding: 1rem;
    }
    .addinguser hr{
        width: 100%;
        margin-bottom: 2rem;
        border-top: 2px solid rgb(64 104 163);
    }
</style>
<section class="content addinguser">
    <div class="container-fluid">
        <div class="content" style="padding-top:30px;">
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Ajouter</strong> un article
                                </h2>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <form class="blogsave">
                                        <input type="hidden" name="id_blog" value="no">
                                        <div class="row" style="padding: 1rem;">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="">Titre *</label>
                                                    <input type="text" class="form-control" placeholder="Titre" name="title">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="">Titre (en anglais) *</label>
                                                    <input type="text" class="form-control" placeholder="Titre" name="title_en">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Image *</label>
                                                    <input type="file" class="form-control" name="image">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">Catégorie *</label>
                                                    <select class="form-control catblog" name="categorie[]" multiple="multiple">
                                                        <% categories.forEach((cat)=>{ %>
                                                            <option value="<%= cat._id %>"><%= cat.name %></option>
                                                        <% }) %> 
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">Type *</label>
                                                    <select class="form-control" name="type">
                                                        <option value="Article">Article</option>
                                                        <option value="Conseils">Conseils</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">Statut *</label>
                                                    <select class="form-control" name="status">
                                                        <option value="1">Publié</option>
                                                        <option value="0">Non Publié</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="">Contenu *</label>
                                                <textarea class="form-control description_blog" id="description_blog" placeholder="Contenu"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="">Contenu (en anglais) *</label>
                                                <textarea class="form-control description_blog_en" id="description_blog_en" placeholder="Contenu"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="display: flex;justify-content: center;">
                                            <button class="btn-hover btn-border-radius color-7 submit_blog" attr-type="save">Sauvegarder</button>
                                        </div>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include('../partials/footer')-%> 