<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.radixtouch.in/templates/admin/atrio/source/light/pages/examples/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 01:24:56 GMT -->
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Hostar - Bootstrap 4 Hospital Admin Dashboard Template</title>
	<!-- Favicon-->
	<link rel="icon" href="/source/light/assets/images/loca.png" type="image/x-icon">
	<!-- Plugins Core Css -->
	<link href="/source/light/assets/css/app.min.css" rel="stylesheet">
	<!-- Custom Css -->
	<link href="/source/light/assets/css/style.css" rel="stylesheet" />
	<link href="/source/light/assets/css/pages/extra_pages.css" rel="stylesheet" />
</head>

<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="/reset/<%= token %>">
					<%-include('../partials/messages')-%>
					<span class="login100-form-title p-b-45">
						Reset Password
					</span>
					<input type="hidden" name="type" value="admin"> 	
					
					<span class="error-subheader2 p-t-20 p-b-15">
						Enter your new password .
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">password</span>
                    </div>
                    <span class="error-subheader2 p-t-20 p-b-15">
                        Confirm Password
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="password" name="confirmpassword">
						<span class="focus-input100"></span>
						<span class="label-input100">Confirm Password</span>
					</div>

					<div class="container-login100-form-btn p-t-30">
						<button class="login100-form-btn" type="submit">
							Change Password
						</button>
					</div>

				</form>

				<div class="login100-more" style="background-image: url('/source/light/assets/images/mapane1.png');">
				</div>
			</div>
		</div>
	</div>
	
	<!-- Plugins Js -->
	<script src="/source/light/assets/js/app.min.js"></script>
	<!-- Extra page Js -->
	<script src="/source/light/assets/js/pages/examples/pages.js"></script>
</body>


<!-- Mirrored from www.radixtouch.in/templates/admin/atrio/source/light/pages/examples/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 01:24:56 GMT -->
</html>